<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
      
      <script>
        var gatrack = true;
        if (gatrack) {
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-20924453-2']);
            _gaq.push(['_setDomainName', 'blog.kodery.com']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        }
    </script>

    </head>
    <body>

        <div class="container">

          <header class="header">
            <div class="wrapper">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            </div>
          </header>

          <div class="site">

            <div class="wrapper">
              <main class="main_content">
                {{ content }}
              </main>
            </div>

            <footer class="footer">
              <div class="wrapper">
                <div class="contact">
                  <p>
                    <a href="http://kodery.com/">Kodery</a><br />
                    Your snippets: everywhere.
                  </p>
                </div>
                <div class="contact">
                  <p>
                    <a href="http://alpha.kodery.co/">alpha.kodery.com</a><br>
                    <a href="http://docs.kodery.com">docs.kodery.com</a>
                  </p>
                </div>
              </div>
            </footer>
          </div>
        </div> <!-- /container -->

    </body>
</html>
